.container {
  width: 1840px;
  margin: 0 auto;
  padding: 36px 0;

  @media (max-width: $screen-xl-max) {
    width: 1360px;
  }

  @media (max-width: $screen-lg-max) {
    width: 992px;
  }

  @media (max-width: $screen-md-max) {
    width: 720px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  @media (max-width: $screen-sm-max) {
    margin: 0 24px;
    padding: 14px 0;
    width: auto;
  }
}
