.container {
  width: 1840px;
  margin: 36px auto;

  @media (max-width: $screen-xl-max) {
    width: 1360px;
  }

  @media (max-width: $screen-lg-max) {
    width: 992px;
  }

  @media (max-width: $screen-md-max) {
    width: 720px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  @media (max-width: $screen-sm-max) {
    margin: 14px 24px;
    width: auto;
  }
}
