@use "sass:math";
//================================================================================//
//================================== grid ========================================//
//================================================================================//

$grid-gutter-width:                 80px;

// media breakpoints
$screen-xxl-min:                    1860px;
$screen-xxl-max:                    1920px;

$screen-xl-min:                     1400px;
$screen-xl-max:                     ($screen-xxl-min - .02);

$screen-lg-min:                     1080px;
$screen-lg-max:                     ($screen-xl-min - .02);

$screen-md-min:                     768px;
$screen-md-max:                     ($screen-lg-min - .02);

$screen-sm-min:                     576px;
$screen-sm-max:                     ($screen-md-min - .02);

$screen-xs-min:                     320px;
$screen-xs-max:                     ($screen-sm-min - .02);

//================================================================================//
//================================= colors =======================================//
//================================================================================//

// brands
$brand-white:                       #FFFFFF;
$brand-black:                       #000000;
$brand-black-1:                     #323232;
$brand-black-2:                     #727272;
;

$brand-gray-1:                      #EBF0FA;
$brand-gray-2:                      #F0F4FC;
$brand-primary:                     #244C98;
$brand-blue:                        #1F4284;

$text-color:                        $brand-black-1;
$body-bg-color:                     $brand-white;

//================================================================================//
//================================ Typography ====================================//
//================================================================================//
$font-family-base:                  'Manrope', sans-serif;
$font-size-base:                    18px; // Assumes the browser default, typically `14px`
$line-height-base:                  1;

//================================================================================//
//================================= Headings =====================================//
//================================================================================//

$font-size-h1:                      30px;

$line-height-h1:                    1.6;

$head-margin-h1:                    0 0 18px;

//================================================================================//
//================================ Border-radius =================================//
//================================================================================//
$border-radius-base:                10px;
