.banner {
  background-color: $brand-gray-2;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.banner__box {
  display: flex;
  align-items: center;
  padding: 50px 72px 54px;
  min-height: 395px;
}

.banner__desk {
  max-width: 50%;
}

.banner__title {
  color: $brand-blue;
}

.banner__text {
  line-height: 27px;
  font-size: 17px;

}

.banner__btn {

}

.banner__btn-arrow {

}
